:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --secondary-button-color: #e7e9fc;
}

/* body */
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}

/* Logo */

header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  text-decoration: none;
}
span {
  color: var(--secondary-text-color);
}

/* Site-nav */

.site-nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;

  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}
.site-nav .link:active {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.email {
  margin-right: 40px;
}
.contacts {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;

  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* HERO */
.hero-title {
  max-width: 492px;
  margin: 0 auto 48px auto;

  color: var(--background-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.title {
  padding: 192px 0;
  text-align: center;
  background-color: var(--secondary-text-color);
}

/* Order Service button*/
.order-button {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px transparent;
  min-width: 106px;
  text-align: center;

  color: var(--background-color);
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus,
.order-button:active {
  color: var(--background-color);
  background-color: #404bbf;
}

/* Sections - Samples, Team + Portfolio */

.section-samples {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-advantages {
  padding-top: 120px;
}
.section-buttons {
  padding-top: 96px;
  padding-bottom: 120px;
}

.features {
  display: flex;
}
/* Advantages Section */

.advantages-item:not(:last-child) {
  margin-right: 24px;
}
.advantages-item {
  width: 264px;
}
.section-title {
  margin-bottom: 72px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
}
.subsection-title {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.section-items {
  margin-top: 0;
}
.samples {
  display: flex;
  row-gap: 24px;
}
.samples-item:not(:last-child) {
  margin-right: 24px;
}
.our-team {
  display: flex;
  row-gap: 24px;
}

.team {
  background-color: var(--secondary-background-color);
}
.team-member {
  background-color: var(--background-color);
}
.team-member:not(:last-child) {
  margin-right: 24px;
}
/* team-name */

.team-name {
  text-align: center;
  margin-bottom: 8px;
}

/* Portfolio buttons */

.secondary-button {
  display: inline-block;
  min-width: 69px;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px transparent;

  color: var(--accent-color);
  background-color: var(--secondary-button-color);
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
.secondary-button:not(:last-child) {
  margin-right: 72px;
}
.secondary-btn-list {
  margin-bottom: 72px;
  gap: 24px;
}
.secondary-button:focus,
.secondary-button:hover,
.secondary-button:active {
  color: var(--background-color);
  background-color: var(--accent-color);
}
.secondary-btn-list {
  display: flex;
  justify-content: center;
}

/* Services Wrap */
.wrap {
  padding: 32px 16px;
  border: 0.5px solid #f4f4fd;
  border-top: none;
}
.service {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
/* Footer */
footer {
  color: var(--secondary-button-color);
  background-color: var(--secondary-text-color);
  font-family: inherit;
}
.logo-footer {
  color: var(--secondary-background-color);
}
.subsection-portfolio {
  margin-bottom: 8px;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* Footer logo and text */

.summary {
  width: 264px;
  margin-top: 16px;
}
.footer-logo {
  padding: 0;
  margin: 0;
}

/* End */
